<div class="dnm-door-blocked">

  <p class="dnm-door-type">
    <i class="fa-solid fa-lock"></i>
    {{typeName}}
  </p>

  <p class="dnm-hint">{{lockMessage}}</p>

  <footer class="dnm-door-buttons">
    <button type="button" data-action="back">
      <i class="fa-solid fa-rotate-left"></i> Turn back
    </button>
  </footer>

</div>
