body.dnm-blueprint {
  background: radial-gradient(circle at top, #021b33, #010513);
}

body.dnm-blueprint #board {
  background-color: rgba(1, 8, 20, 0.95);
  background-image: linear-gradient(rgba(0, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 64px 64px;
}

body.dnm-blueprint canvas {
  filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.4));
}
